@namespace WeStrap
@inherits WeAlertBase
@if (IsOpen)
{
    <DynamicTag TagName="div" class="@ClassName" disabled="@disabled" role="alert" @attributes="@UnknownParameters">
        @ChildContent
        @if (IsDismissible)
        {
            <button @onclick="OnClick" type="button" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        }
    </DynamicTag>
}