@namespace WeStrap
@inherits WeModalHeaderBase

<DynamicTag @attributes="@UnknownParameters" TagName="div" class="@divClassname">
    <div class="@headingClassname">@ChildContent</div>
    <WeButton Color="Color.None" class="close position-absolute mx-0 my-0" aria-label="Close" @onclick="OnClick" autofocus>
        <span aria-hidden="true">&times;</span>
    </WeButton>
</DynamicTag>