@namespace WeStrap
@inherits WePopoverBase



    <DynamicTag Id="@Id" @attributes="@UnknownParameters" TagName="div" class="@ClassName" role="tooltip" @onclick="OnClick" >
        <div @ref="Arrow" class="arrow"></div>
        @ChildContent
    </DynamicTag>

@code{


}