@page "/"

<WeQuery @ref="query">

    <h1>Hello, world!</h1>

    Welcome to your new app.
</WeQuery>
<button @onclick="ChangeColorGreen">change color to green</button>
<button @onclick="ChangeColorPurple">change color to purple</button>
<button @onclick="ToggleClass">Toggle color</button>
@code{
    protected WeQuery query { get; set; }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        //await query.Select("h1");//.Css("backgroud-color", "red");
        await base.OnAfterRenderAsync(firstRender);


    }
    protected async Task ChangeColorGreen()
    {
        await query.Query.Css(query.Id, "h1", "background-color", "red");
    }
    protected async Task ChangeColorPurple()
    {
        await query.Query._(query.Id, "h1", "css", "background-color", "purple");
    }

    protected async Task ToggleClass()
    {
        await query.Query.ToggleClass(query.Id, "h1", "back");
    }
}
