@namespace WeStrap
@inherits WeTagBase
<DynamicTag TagName="div" class="@ClassName" @attributes="@UnknownParameters">
    <div class="webook-score-title">@Title</div>
    <div class="webook-score-content">@Content</div>
</DynamicTag>
@code {
    [Parameter] public string Title { get; set; }
    [Parameter] public string  Content { get; set; }
        protected override WeStringBuilder BuildClassName(string s = "")=>
        base.BuildClassName(s)
        .UsePrefix("webook-{0}")
        .Add("score-review")
        ;
        
}
