@page "/listgroup"
<WeRow RowColumnCount="WeRowCount.Row6">
    <WeCol>
        <WeListGroup IsFlush="true" ListGroupType="ListGroupType.Button">
            <WeListGroupItem Color="Color.Primary" IsActive="true">
                <WeListGroupItemHeading>
                    <h5 class="mb-1">List group item heading</h5>
                    <small>3 days ago</small>
                </WeListGroupItemHeading>
                A simple primary list group item <WeBadge Color="Color.Light" IsPill="true">20</WeBadge>
            </WeListGroupItem>
            <WeListGroupItem Color="Color.Secondary">A simple secondary list group item</WeListGroupItem>
        </WeListGroup>
    </WeCol>
    <WeCol>
        <span class="badge badge-danger">30</span>

    </WeCol>
</WeRow>
